{% include "base.html" %}
{% block content %}


<div class="container py-5">
    <div class="hero text-center py-5">
        <div class="hero-content">
            <h3 class="display-6" style="font-weight: bold;">
                A Custom <span style="color: #91733d;">SQLite</span> ORM
            </h3>
            <p class="mx-auto text-left" style="max-width: 800px; font-size: 18px; color: #dee2e6;">
                Lightweight full-stack application that showcases the seamless integration of 
                FastAPI with a custom-built ORM (Object-Relational Mapping) system. 
                This project is developed with the integration of <a style="text-decoration: none;" href="https://github.com/crabcatcher0/sql_Crab">sql_Crab(ORM)</a>.
            </p>
            <a href="https://github.com/crabcatcher0/FastORM" class="btn btn-success">View on Github</a>
        </div>
    </div>
</div>


{% endblock %}
