{% include "base.html" %}
{% block content %}
<div class="container py-5">
    <h2 class="mb-4" style="font-weight: bold;">Student Records</h2>
    <a class="btn btn-success mb-4" href="/add_student">Add Student</a>
    <p>
        The table displays a list of students currently enrolled in the system. 
        Each student's first name, last name, address, and email have been retrieved from 
        the database using the ORM.
    </p>

    
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Address</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.first_name }}</td>
                <td>{{ student.last_name }}</td>
                <td>{{ student.address }}</td>
                <td>{{ student.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2 class="mt-5 mb-4" style="font-weight: bold;">Course Information</h2>
    <a class="btn btn-success mb-4" href="/add_course">Add Course</a>

    <p>
        The table shows the courses offered and the number of students 
        currently enrolled in each course.
        The data is dynamically retrieved from the database, 
        and the ORM handles the relationships between 
        the students and the courses to provide the enrollment count.
    </p>
    
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Course Name</th>
                <th scope="col">Course Code</th>
                <th scope="col"># Enrolled Students</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
            <tr>
                <td>{{ course.course_name }}</td>
                <td>{{ course.course_code }}</td>
                <td>50</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
